@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./primevue/tailwind.css";
@import "tailwindcss/utilities";

@import "./base.css";

@layer components {
    #pageHeader{
        left: 0;
        opacity: .8;
        /* position: fixed; */
        transition: background-color .3s;
        top: 0;
        width: 100%;
        z-index: 99;
    }

}
